li{ list-style: none;}
a:focus{ text-decoration: none;}
a:hover{ text-decoration: none; transition: all 0.3s ease; transition: all 0.3s ease;}
body{ font-size: 13px; color: #797979;}
.clear{ clear: both;}

#preloader{ background:none repeat scroll 0 0 #fff; height:100%; position:fixed; width:100%; z-index:9999;}
#preloader i{ left:50%; margin-left:-15px; margin-top:-15px; position:absolute; top:50%;}

.navbar{ margin-bottom:0;}
.navbar-brand{ color:#999; font-size:30px; font-weight:300px; line-height:30px; margin-top:15px;}
.navbar-brand span{ color:#48cfad;}
.dropdown{ margin-right:2px;}
.navbar-nav>li{padding:30px 0 24px;}
.navbar-nav>li>a{ color:#999; font-size:14px; padding:10px 15px; border-radius:3px;}
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover,
.dropdown-menu>li>a:hover,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus { background:#48cfad; color:#FFF; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}


.dropdown-menu{ top:100%; left:0; border-radius:0; padding:0px 0px;}
.dropdown-menu li a{ border-bottom:1px solid #F3E8E8; padding:3px 12px; color:#999; font-size:14px; font-weight:300; line-height:30px;}


.form-control { border: 1px solid #d9d9d9!important; border-radius: 2px;}
.search { background:url(../images/search-icon.jpg) no-repeat 10px 8px; width:20px; padding:0 5px 0 35px; margin-top:3px; -webkit-transition: all .3s ease; transition: all .3s ease; border:1px solid #FFF; box-shadow: none; margin-left:15px;}
.search:focus { margin-top: 3px; width: 180px; border: 1px solid #eaeaea; box-shadow: none; -webkit-transition: all .3s ease; transition: all .3s ease; color: #c8c8c8; font-weight: 300; margin-left: 10px;}
.form-control:focus { border: none; border: 1px solid #d9d9d9;}

.welcome{ margin-bottom: 50px; color:#797979; }
.welcome h2{ text-transform: uppercase; font-size: 30px; font-weight: 300; margin-top: 40px; margin-bottom: 20px; text-align: center;}
.box{ text-align: center;}
.box img{ width: 100px; height: 100px;}
.box h3{ margin: 10px 0; font-weight: bold; font-size: 18px;}
.box p{ font-size: 14px;}



.ready{ padding: 80px 0; background-color: #f9f9f3; margin-bottom: 60px;}
.ready img{ vertical-align: middle;}
.ready h1{ color: #475168; font-size: 24px; text-transform: uppercase; font-weight: 400; margin-bottom: 30px;}
.ready i{ color: #48cfad; padding-right: 10px;}
.ready p{ line-height: 22px; margin-bottom: 10px; color: #797979; font-size: 14px;}
.ready a{ background: #475168; padding: 6px 12px; margin-top: 30px; border-radius: 4px; text-transform: uppercase; color: #fff; font-weight: 500px; font-size: 14px; text-align: center; cursor: pointer; vertical-align: middle; display: inline-block; transition: all 0.3s ease; transition: all 0.3s ease;}
.ready a:hover { background-color: #48cfad; transition: all 0.3s ease; transition: all 0.3s ease;}

.tab{ margin-bottom: 60px;}
.panel-heading{ border: none; padding: 0px 0px;}
.panel-heading li{ border-right: 1px solid #dddddd;}
.panel-heading li a{ border: none!important; background-color: #dddddd; border-radius: 0px!important;color: #FFFFFF; font-size: 14px; padding: 18px 15px; border: 1px solid #ddd;}
.panel-heading li a:hover{ background-color: #48cfad!important; }
.panel-heading li.active a{  background-color: #48cfad!important; color: #FFFFFF;}
.panel-heading li.active a:hover{ color: #FFFFFF;}
.panel-heading li.active a:focus{ color: #FFFFFF;}
.tab-content{ border: 1px solid #dddddd;}
#notice p{ color: #797979; font-size: 13px; margin-bottom: 10px; line-height: 22px;}
#events div{ margin-top: 15px;}
#events a{ color: #444e67; transition: all 0.3s ease; transition: all 0.3s ease;}
#events a:hover{ color: #48cfad;}
#events p{ margin-bottom: 10px;}
#news img{ width: 50px; height: 50px;}
#news a{ color: #48cfad; font-size: 13px;}
#news p{ color: #797979; font-size: 13px; margin-bottom: 10px;}

.tab_right{ border-radius: 3px;}
.tab_right img{ width: 100px; height: 100px; margin: 0 15px;}
.article h3{ font-size: 15px; margin: 30px 0 8px; color: #504946; font-weight: 300; text-transform: uppercase;}
.article p{ font-size: 13px; line-height: 14px; color: #ababab; font-weight: 300;}
.arrow{ border: 1px solid #e9e9e9; padding: 20px; position: relative;}
.arrow p{ line-height: 20px; }
.arrow:before{ border-top: 1px solid #e9e9e9; border-left: 1px solid #e9e9e9; top: -8px; height: 14px; left: 60px; position: absolute; content: ""; transform: rotate(45deg); -webkit-transform: rotate(45deg); width: 15px; background-color: #FFF;}

.work{ background-color: #f9f9f3; padding-bottom: 50px;}
.work h3{ margin: 50px 0 20px; padding-bottom: 5px; font-size: 24px; text-transform: uppercase; font-weight: 400; text-align: center;}
.work p{ margin-bottom: 35px; text-transform: uppercase; text-align: center;}

.help{text-align: center;}
.help h3{ text-align: center; margin: 45px 0 65px; text-transform: uppercase; font-size: 25px;}
.help h4{ font-size: 24px; text-align: center; text-transform: uppercase; padding-top: 40px; margin: 20px 0 10px;}
.help p{ text-align: center; line-height: 22px; padding: 5px 21px 0;}
.help a{ text-align: center; display: inline-block; color: #e74c3c; margin-bottom: 30px;}
.help i{ width: 60px; height: 60px; color: #FFFFFF; background-color: #48cfad; font-size: 2em; text-align: center; line-height: 60px; border-radius: 50%; position: absolute; top: -30px; left: 42%;}
.help .box2{ position: relative; border: 1px solid #eee;}
.box2{ margin-bottom: 50px;}

.hr{ width: 30%; text-align: center; height: 1px; margin: 30px auto; position: relative; line-height: 1px; background-color: #ececec;}
.hr-inner{ width: 8px; height: 9px; border: 1px solid #ececec; position: absolute; left: 50%; top:-4px; background-color: #FFFFFF;}

footer{ padding: 50px 0; background-color: #34495e; color: #FFFFFF; font-weight: 300px;}
.footer-info{}
.footer h4{ font-size: 20px; text-transform: uppercase; font-weight: 400px; margin-bottom: 20px; }
.footer-info a{ color: #48cfad;}
.footer-info a:focus{ color: #48cfad; font-weight: 300px; font-size: 13px;}
.pr-10{ margin-right: 10px;}
.left{ float: left; margin-right: 15px!important;}
.box3{ border-bottom: 1px solid #636F79; background-color: #505b71!important; padding: 8px 15px; position: relative;}
.box3 i{ font-size: 40px; color: #00adef;}
.box3 p{ margin-bottom: 0;}
.footer-arrow:before{content: ""; display: block; background: #505b71; width: 20px; height: 20px; position: absolute; transform: rotate(45deg); -webkit-transform: rotate(45deg); top: -10px; left: 60px;}
.footer ul{ padding: 0 10px; margin-bottom: 10px;}
.footer ul li{ border-bottom:1px dashed #636F79; line-height: 35px; }
.footer ul li a{ color: #FFFFFF;}
.footer ul li a:hover{ color: #FFFFFF;}
.footer i{ margin-right: 10px;}
.footer p{ line-height: 22px;}

.copyright{ background: #2C3E50; padding-top: 5px;}
.copyright p{ color: #FFFFFF; line-height: 22px; padding-top: 15px;}
.copyright ul li{ width: 50px; height: 50px; padding-bottom: 5px; margin: 5px 10px 15px 0; float: left;}
.copyright ul li a{ padding: 10px; background: #505b71; border-radius: 50%; text-align: center;width: 50px; height: 50px; display: inline-block; color: #FFFFFF;  transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}
.copyright ul li a i{ font-size: 20px; line-height: 30px;}
.copyright ul li a:hover{ color: #FFFFFF; background: #48cfad; transition: all 0.3s ease; -webkit-transition: all 0.3s ease;}

.arrow-top{ border-radius: 3px; opacity: 0.5; width: 40px; height: 40px; position: fixed; bottom: 30px; right: 30px; cursor: pointer; background: #000000; text-align: center;  transition: all 0.3s ease; -webkit-transition:  all 0.3s ease;}
.arrow-top i{ font-size: 20px; line-height: 40px; color: #FFFFFF;}
.arrow-top:hover{ background: #48cfad; transition: all 0.3s ease; -webkit-transition:  all 0.3s ease; opacity: 0.8;}

@media screen and (max-width: 768px) {
.navbar-nav > li {
    padding: 0;
    margin-bottom: 2px;
}
.dropdown-menu>li>a:hover{
background:#48cfad; color:#FFF; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;
}
.form-control{ display:none;}
}













