


.navbar{ margin-bottom:0;}
.navbar-brand{ color:#999; font-size:30px; font-weight:300px; line-height:30px; margin-top:15px;}
.navbar-brand span{ color:#48cfad;}
.dropdown{ margin-right:2px;}
.navbar-nav>li{padding:30px 0 20px;}
.navbar-nav>li>a{ color:#999; font-size:14px; padding:10px 15px; border-radius:3px;}
.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover,
.dropdown-menu>li>a:hover,
.navbar-nav > .open > a,
.navbar-nav > .open > a:hover,
.navbar-nav > .open > a:focus { background:#48cfad; color:#FFF; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;}


.dropdown-menu{ top:100%; left:0; border-radius:0; padding:0px 0px;}
.dropdown-menu li a{ border-bottom:1px solid #F3E8E8; padding:3px 12px; color:#999; font-size:14px; font-weight:300; line-height:30px;}


.form-control { border: 1px solid #d9d9d9!important; border-radius: 2px;}
.search { background:url(../images/search-icon.jpg) no-repeat 10px 8px; width:20px; padding:0 5px 0 35px; margin-top:3px; -webkit-transition: all .3s ease; transition: all .3s ease; border:1px solid #FFF; box-shadow: none; margin-left:15px;}
.search:focus { margin-top: 3px; width: 180px; border: 1px solid #eaeaea; box-shadow: none; -webkit-transition: all .3s ease; transition: all .3s ease; color: #c8c8c8; font-weight: 300; margin-left: 10px;}
.form-control:focus { border: none; border: 1px solid #d9d9d9;}
@media screen and (max-width: 768px) {
.navbar-nav > li {
    padding: 0;
    margin-bottom: 2px;
}
.dropdown-menu>li>a:hover{
background:#48cfad; color:#FFF; -webkit-transition: all 0.3s ease; transition: all 0.3s ease;
}
.form-control{ display:none;}
}



















